*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.hpp linguist-detectable=false
*.html linguist-detectable=false
*.swift linguist-detectable=false
*.kt linguist-detectable=false
*.c linguist-detectable=false
*.cmake linguist-detectable=false
*.rb linguist-detectable=false
*.c++ linguist-detectable=false
*.cc linguist-detectable=false
*.cp linguist-detectable=false
*.cppm linguist-detectable=false
*.cxx linguist-detectable=false
*.h linguist-detectable=false
*.h++ linguist-detectable=false
*.hh linguist-detectable=false
*.hpp linguist-detectable=false
*.hxx linguist-detectable=false
*.inc linguist-detectable=false
*.inl linguist-detectable=false
*.ino linguist-detectable=false
*.ipp linguist-detectable=false
*.ixx linguist-detectable=false
*.re linguist-detectable=false
*.tcc linguist-detectable=false
*.tpp linguist-detectable=false
*.builder linguist-detectable=false
*.rb linguist-detectable=false
*.eye linguist-detectable=false
*.fcgi linguist-detectable=false
*.gemspec linguist-detectable=false
*.god linguist-detectable=false
*.jbuilder linguist-detectable=false
*.mspec linguist-detectable=false
*.pluginspec linguist-detectable=false
*.podspec linguist-detectable=false
*.prawn linguist-detectable=false
*.rabl linguist-detectable=false
*.rake linguist-detectable=false
*.rbi linguist-detectable=false
*.rbuild linguist-detectable=false
*.rbw linguist-detectable=false
*.rbx linguist-detectable=false
*.ru linguist-detectable=false
*.ruby linguist-detectable=false
*.spec linguist-detectable=false
*.thor linguist-detectable=false
*.watchr linguist-detectable=false
